<footer class="footer text-center">

	<div class="">

		<div class="div-logo-footer">
			<img class="logo-footer" src="{{ 'assets/img/logo-reduzido.svg' | relative_url }}">
		</div>

		<p>Rodovia Fued Nemer s/nº, Km 18 - Duas Barras - Cachoeiro de Itapemirim - ES</p>

		<div class="telefones">
			<a href="tel:+552835398044">+55 (28) 3539-8044</a>
			| <a href="tel:+552835398238">+55 (28) 3539-8238</a>
		</div>

	</div>

	<div class="copyright">
  		Granfaccin &copy;&nbsp;Copyright {{ site.time | date: '%Y' }}. Todos os direitos reservados.
	</div>
   
</footer>
