<header>
		<!--Barra de navegação-->
	<nav class="navbar navbar-fixed-top navbar-inverse navbar-transparente">
		<div class="container-fluid">
			<div class="col-md-10 col-md-offset-1">

			<!-- header -->
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#barra-navegacao">
					<span class="sr-only">alternar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="index.html"  class="navbar-brand">
					<span id="logo" class="img-logo">GRANFACCIN</span>
				</a>
			</div>

			<!-- navbar-->
			<div class="collapse navbar-collapse " id="barra-navegacao">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ site.url }}">Início</a></li>
					<li><a href="{{ site.url }}/empresa/">Empresa</a></li>
					<li><a href="{{ site.url }}/materiais/">Materiais</a></li>
					<li><a href="{{ site.url }}/contato/">Contato</a></li>
					<li><a href="{{ site.url }}"><img class="img-eng" src="{{ "/assets/img/eng.jpg" | relative_url}}" alt=""></a></li>
					<div id="contato" class="site-header-right">
							<div class="clearfix"></div>
							<ul class="header-contacts ">
									<li><i class="far fa-envelope"></i> <span class="hidden-xs"></span>contato@granfaccin.com.br</li>
									<div class="clearfix"></div>
									<li><i class="fas fa-phone-square"></i> <span class="hidden-xs"></span>+55 28 0000 0000</li>
							</ul>
					</div>
				</ul>

			</div>

		</div>
		</div><!--fim container-->
	</nav><!-- fim navbar-->
</header>
